.card{
    background-color: skyblue;
    height: 350px;
    width:1000px;
    position: fixed;
    top: 35%;
    left: 25%;
    border-color: cornsilk;
    border-style: solid;
    font-weight: bold;
}



.heading{
    text-align: center;
    color: black;
    font-weight:100;
    line-height:4rem;
    font-size:80px;
    position: fixed;
    top: 25%;
    left: 25%;
    
}

.container{
    text-align: center;
    color: black;
}

.btn{
    cursor:pointer;
    background-color: chartreuse;
}
.new{
    text-align: center;
    color: black;
    width: 180px;
    height: 30px;
}

.orderdetails{
    
        background-color: hotpink;
        transform: translate(-50%,-50%);
        position: fixed;
        top: 10%;
        left: 10%;
       
    }
    
